<% layout('layouts/boilerplate') %>
    <style>
        .fix {
            height: 150px;
            width: 150px;
        }
    </style>
    <div class="row">
        <h1 class="text-center">Update Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label"> Title</label>
                    <input type="text" class="form-control" id="title" placeholder="enter camp name"
                        name="campground[title]" value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mb-3">
                    <label for="location" class="form-label"> Location</label>
                    <input type="text" class="form-control" id="location" placeholder="enter a location"
                        name="campground[location]" value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class=" mb-3">

                    <label for="price" class="form-label"> Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.0" aria-label="price"
                            name="campground[price]" id="price" aria-describedby="price-label"
                            value="<%=campground.price%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"> Description</label>
                    <textarea type="text" class="form-control" id="description" placeholder="enter a description"
                        name="campground[description]" required><%=campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add more Images</label>
                    <input type="file" name="image" class="form-control" id="image" aria-label="Upload" multiple>

                </div>
                <div class="row">
                    <div class="mb-3">
                        <% campground.images.forEach((img, index)=> { %>
                            <div class="float-left d-flex justify-content">
                                <div>
                                    <img class="fix img-thumbnail" src="<%=img.url%>" alt="camp images">
                                </div>
                                <div class="form-check-inline">
                                    <input type="checkbox" id="image-<%=index%>" name="deleteImages[]"
                                        value="<%=img.filename%>">
                                </div>
                                <label for="image-<%= index %>">Delete</label>
                            </div>


                            <% }) %>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <div class="col-md-6 offset-3">
                            <button class='btn btn-success mb-3'>Edit Campground</button>
                        </div>

                    </div>
                </div>

        </div>
        </form>
        <div class="col-md-6 offset-3 mb-3">
            <a class="btn btn-primary" href="/campgrounds/<%=campground.id%> ">Back to Campground</a>
        </div>

    </div>

    </div>